# Dependencies
node_modules/
/.pnp
.pnp.js


# Build and dist folders
/build
/dist
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Testing
/coverage

# Misc
.cache/
